@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.oswald {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}

header{
    background-color: rgb(3, 15, 68);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;   
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 30;
}

.img-header{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

nav {
    margin-right: 50px;
}

.nav-item{
    color: white;
    text-decoration: none;
    padding: 20px;
    margin: 5px;
}

.nav-item:hover{
    background-color: rgb(15, 15, 15);
    color: rgb(63, 180, 24);
    border-radius: 10px;
    transition: 1s;
}

.jumbotron{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.img-jumbotron{
    margin: 40px;
    width: 500px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

footer{
    background-color: rgb(3, 15, 68);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;   
    width: 100%;
    bottom: 0;
}

.container-products{
    /* background-color: rgb(63, 180, 24); */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.products{
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.product{
    /* background-color: rgb(10, 197, 69); */
    background-image: url(assets/bg-product.jpg);
    background-size: 90%;
    background-repeat: no-repeat;

    
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    opacity: 0.5;
}

.product:hover{
    opacity: 1;
    transition: 1s;
    cursor: pointer;
}


.img-product{
    width: 200px;
    border-radius: 30px;
    height: 200px;
    object-fit: cover;
    margin: 30px;
}

table{
    margin-top: 50px;
    border-collapse: collapse;
}


td, th{
    padding: 20px;
    border: 2px solid black;
}

th{
    background-color: rgb(3, 15, 68);
    color: white;
    border: 2px solid white;
}

tr{
    background-color: white;
}

tr:nth-child(even){
    background-color: rgb(113, 236, 113);
    color: black;
}


.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px;
    flex-wrap: wrap;
}


.tab{
    background-color: rgb(197, 242, 242);
    width: 300px;
    padding: 40px;
    margin: 40px;
    border-radius: 20px;
}

h1.product-name{
    font-size: 30px;
    text-align: center;
    margin: 20px;
    letter-spacing: 3px;
}

h1.product-name:hover{
    color: rgb(63, 180, 24);
    transition: 1s;
    cursor: pointer;
}

/* tag h2 yang memiliki class price */
h2.price { 
    font-size: 18px;
}


.list { 
    list-style-type: disc;
    margin-bottom: 50px;
    text-align: left;
}

/* tag li yang merupakan child dari tag element class .list */
.list li {
    margin-top: 20px;
}

hr{
    height: 7px;
    width: 100%;
    margin: auto;
    background-color: rgb(3, 15, 68);
    border: none;
    border-radius: 50px;
    margin-top: 20px;

}


/* button { 
    background-color: rgb(63, 180, 24);
    border-radius: 50px;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

button:hover { 
    background-color: rgb(3, 15, 68);
    transition: 1s;
    transform: scale(1.2);
} */


/* CSS */
.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}



/* CSS */
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

div.about {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 30px;
    background-color: rgb(3, 24, 51);
    color: white;
    width: 80%;
}

.about {
    text-align: left;

    padding: 10px;
    width: 100%;
}

div.image-about {
    margin-bottom: auto;
    margin-top: auto;
}

img.about-us {
    width: 300px;
}


.hyperlink_about{
    color: white;
    text-decoration: none;
    background-color: rgb(16, 112, 3);
}


i{
    margin-right: 10px;
    margin-left: 10px;
}


footer {
    /* background-color: rgb(245, 235, 220); */
    /* background-image: linear-gradient(rgb(3, 15, 68), rgb(133, 133, 241) ); */
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

    width: 100%;
}

.main-footer { 
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    align-items: center;
    width: 1200px !important;
}

.left-footer { 
    margin-left: 40px;
}

.right-footer {
    margin-right: 40px;
}

.center-footer {
    margin-left: 20px;
    margin-right: 20px;
}

.info-left {
    color: white;
    text-align: left;
}
.info-right {
    color: white;
    text-align: right;
}

.info-center {
    color: white;
    text-align: center;
    width: 100%;
    padding-top: 5px;
    border-top: 1px solid rgb(146, 168, 133);
}

/* responsive for mobile */
@media (max-width: 600px) {
    nav { 
        display: none;
    }

    table{
        margin-top: 20px;
        /* make it horizontal scrolll */
        overflow-x: auto;
        max-width: 90%;
    }

    .about{
        flex-direction: column;
    }
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

