* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    background-color: rgb(3, 15, 68);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;   
    position: fixed;
    width: 100%;
    top: 0;
}

.img-header{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

nav {
    margin-right: 50px;
}

.nav-item{
    color: white;
    text-decoration: none;
    padding: 20px;
    margin: 5px;
}

.nav-item:hover{
    background-color: rgb(15, 15, 15);
    color: rgb(63, 180, 24);
    border-radius: 10px;
    transition: 1s;
}

.jumbotron{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.img-jumbotron{
    margin: 40px;
    width: 500px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

footer{
    background-color: rgb(3, 15, 68);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;   
    width: 100%;
    bottom: 0;
}

.container-products{
    /* background-color: rgb(63, 180, 24); */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.products{
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.product{
    /* background-color: rgb(10, 197, 69); */
    background-image: url(assets/bg-product.jpg);
    background-size: 90%;
    background-repeat: no-repeat;

    
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    opacity: 0.5;
}

.product:hover{
    opacity: 1;
    transition: 1s;
    cursor: pointer;
}


.img-product{
    width: 200px;
    border-radius: 30px;
    height: 200px;
    object-fit: cover;
    margin: 30px;
}